# Clé Json
*.json

# Fichiers volumineux CSV
*.csv
data/*.csv
data/extracted_data/*.csv
data/cleaned_data/*.csv

# Base de données
data/*.db

# Python
__pycache__/
*.pyc
.gdelt_env/
.env

# Jupyter Notebook
.ipynb_checkpoints/
